body {
  font-size: 100%;
  color:grey;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

footer {
  color: red;
  border: 0.1rem solid rgb(255, 238, 241);
  border-radius: 0.5rem;
  padding: 1em;
  width: 100vw;
  text-align: center;
}

main {
  color: navy;
  width:100vw;
  
  background-color:azure;
}

#head::before {
  display: block;
  content: "before";
  color:olive;
}
header {
  width: 100vw;
  height: 10vh;
  text-align:center;
  background-color:lightgrey;
}
nav {
  height: 20vh;
  background-color:rgb(241, 255, 255);
}
aside {
  height: 10vh;
  background-color:rgb(255, 247, 235);
}
nav a {
  display:inline-block;
  margin: 0 auto;
  border: 1px solid white;
  padding:0.4em;
  text-decoration: none;
}